<div class='container'>
  <h1 class='mb-3'>
    {{#ifCond route 'new'}}
      New Category
    {{else}}
      Edit Category
    {{/ifCond}}
  </h1>
  <form>
    <div class='w-25'>
      {{! Name }}
      <div class='form-floating mb-3'>
        <input
          type='text'
          name='name'
          class='form-control'
          id='categoryName'
          placeholder='category-name'
          value='{{name}}'
          data-category-id='{{id}}'
          required
        />
        <label class='form-required' for='categoryName'>Name</label>
      </div>
      <div class='d-flex justify-content-end gap-2'>
        <button type='submit' class='btn btn-primary'>Submit</button>
        <a href='/admin/category'><button
            type='button'
            class='btn btn-primary-invert'
          >Cancel</button></a>
      </div>
    </div>
  </form>
</div>