<div class='container'>
  {{> admin-control-group}}
  <table class='table table-borderless table-hover align-middle text-center'>
    <thead class='table-warning'>
      <tr>
        <th scope='col'>
          <input class="form-check-input" type="checkbox" value="" id="selectAllCheckbox">
        </th>
        <th scope='col'>Category ID</th>
        <th scope='col'>Name</th>
        <th scope='col'>Product Amount</th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody id='tableBody'>
      <tr>
        <td>
          <input class="form-check-input" type="checkbox" value="">
        </td>
        <th scope='row'>#34A5I47T</th>
        <td>Beef</td>
        <td>3</td>     
        <td>
          <div class='dropdown'>
            <button
              class='btn'
              type='button'
              data-bs-toggle='dropdown'
              aria-expanded='false'
            >
              <i class='bi bi-three-dots'></i>
            </button>
            <ul class='dropdown-menu'>
              <li><a class='dropdown-item' href='#'>Edit</a></li>
              <li><a class='dropdown-item text-danger' href='#'>Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>