<div class='container'>
  {{> admin-control-group}}
  <table class='table table-borderless table-hover align-middle'>
    <thead class='table-warning'>
      <tr>
        <th scope='col'></th>
        <th scope='col'>Customer ID</th>
        <th scope='col'>Name</th>
        <th scope='col'>Cart Items</th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody id='tableBody'>
      <tr>
        <td>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        </td>
        <th scope='row'>#34A5I47T</th>
        <td>1</td>
        <td>$3,500</td>      
        <td>
          <div class='dropdown'>
            <button
              class='btn'
              type='button'
              data-bs-toggle='dropdown'
              aria-expanded='false'
            >
              <i class='bi bi-three-dots'></i>
            </button>
            <ul class='dropdown-menu'>
              <li><a class='dropdown-item' href='#'>View</a></li>
              <li><a class='dropdown-item' href='#'>Edit</a></li>
              <li><a class='dropdown-item text-danger' href='#'>Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <th scope='row'>2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td><button class='btn'><i class='bi bi-three-dots'></i></button></td>
      </tr>
      <tr>
        <th scope='row'>3</th>
        <td colspan='2'>Larry the Bird</td>
        <td>@twitter</td>
        <td><button class='btn'><i class='bi bi-three-dots'></i></button></td>
      </tr>
    </tbody>
  </table>
</div>