<section class='container-fluid footer py-5'>
  <div class='d-flex justify-content-around gap-5'>
    <div class='footer__section'>
      <p>Copyright &copy; 2022 Steaky</p>
      <p>All rights reserved</p>
      <div id='social-media-icons' class='d-flex gap-3'>
        <a href='#' class='nav-link'><i class='bi bi-facebook'></i></a>
        <a href='#' class='nav-link'><i class='bi bi-instagram'></i></a>
        <a href='#' class='nav-link'><i class='bi bi-github'></i></a>
        <a href='#' class='nav-link'><i class='bi bi-twitter'></i></a>
      </div>
    </div>
    <div class='footer__section d-flex flex-column gap-2'>
      <h5 class='fw-bold fs-6'>Company</h5>
      <a href='#' class='nav-link'>Home</a>
      <a href='#' class='nav-link'>All Product</a>
      <a href='#' class='nav-link'>About us</a>
    </div>
    <div class='footer__section d-flex flex-column gap-2'>
      <h5 class='fw-bold fs-6'>Contact</h5>
      <span>Email:
        <a
          href='mailto:ricwidjaya@gmail.com'
          class='nav-link'
        >ricwidjaya@gmail.com</a></span>
      <p>Tel: (+886) 2680-2590</p>
    </div>
    <div class='footer__section'>
      <h5 class='fw-bold fs-6'>Get updates</h5>
      <form action='/'>
        <input
          type='text'
          name='email'
          id='email'
          class='form-control'
          placeholder='Enter your email'
        />
      </form>
    </div>
  </div>
</section>