<div class='container-fluid px-0'>
  {{! Banner }}
  <div class='head-banner'>
    <h1 class='title fw-bold'>
      Master the Flavor
    </h1>
    <p class='title-description fw-light'>
      Start with the meat
    </p>
    <a href='/product'>
      <button class='btn'>Shop Now</button>
    </a>
  </div>

  {{! Subtitle }}
  <div class='my-5'>
    <h2 class='text-center fw-bold fs-1'>Best Sellers</h2>
  </div>

  {{! Product Grid }}
  <div id='product-grid' class='container'>
    <div class='row'>
      <div class='col-3'>
        <div class='card'>
          <img
            src='https://images.unsplash.com/photo-1566041510632-30055e21a9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
            class='card-img-top'
            alt='...'
          />
          <div class='card-body'>
            <h5 class='card-title fw-semibold'>Product title</h5>
            <div class='d-flex justify-content-between'>
              <p class='card-text'>$100</p>
              <a href='#' class='nav-link'><i class='bi bi-heart'></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class='col-3'>
        <div class='card'>
          <img
            src='https://images.unsplash.com/photo-1566041510632-30055e21a9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
            class='card-img-top'
            alt='...'
          />
          <div class='card-body'>
            <h5 class='card-title fw-semibold'>Product title</h5>
            <div class='d-flex justify-content-between'>
              <p class='card-text'>$100</p>
              <a href='#' class='nav-link'><i class='bi bi-heart'></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class='col-3'>
        <div class='card'>
          <img
            src='https://images.unsplash.com/photo-1566041510632-30055e21a9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
            class='card-img-top'
            alt='...'
          />
          <div class='card-body'>
            <h5 class='card-title fw-semibold'>Product title</h5>
            <div class='d-flex justify-content-between'>
              <p class='card-text'>$100</p>
              <a href='#' class='nav-link'><i class='bi bi-heart'></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class='col-3'>
        <div class='card'>
          <img
            src='https://images.unsplash.com/photo-1566041510632-30055e21a9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
            class='card-img-top'
            alt='...'
          />
          <div class='card-body'>
            <h5 class='card-title fw-semibold'>Product title</h5>
            <div class='d-flex justify-content-between'>
              <p class='card-text'>$100</p>
              <a href='#' class='nav-link'><i class='bi bi-heart'></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class='row'>
      <div class='col-3'>
        <div class='card'>
          <img
            src='https://images.unsplash.com/photo-1566041510632-30055e21a9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
            class='card-img-top'
            alt='...'
          />
          <div class='card-body'>
            <h5 class='card-title fw-semibold'>Product title</h5>
            <div class='d-flex justify-content-between'>
              <p class='card-text'>$100</p>
              <a href='#' class='nav-link'><i class='bi bi-heart'></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class='col-3'>
        <div class='card'>
          <img
            src='https://images.unsplash.com/photo-1566041510632-30055e21a9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
            class='card-img-top'
            alt='...'
          />
          <div class='card-body'>
            <h5 class='card-title fw-semibold'>Product title</h5>
            <div class='d-flex justify-content-between'>
              <p class='card-text'>$100</p>
              <a href='#' class='nav-link'><i class='bi bi-heart'></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class='col-3'>
        <div class='card'>
          <img
            src='https://images.unsplash.com/photo-1566041510632-30055e21a9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
            class='card-img-top'
            alt='...'
          />
          <div class='card-body'>
            <h5 class='card-title fw-semibold'>Product title</h5>
            <div class='d-flex justify-content-between'>
              <p class='card-text'>$100</p>
              <a href='#' class='nav-link'><i class='bi bi-heart'></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class='col-3'>
        <div class='card'>
          <img
            src='https://images.unsplash.com/photo-1566041510632-30055e21a9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
            class='card-img-top'
            alt='...'
          />
          <div class='card-body'>
            <h5 class='card-title fw-semibold'>Product title</h5>
            <div class='d-flex justify-content-between'>
              <p class='card-text'>$100</p>
              <a href='#' class='nav-link'><i class='bi bi-heart'></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  {{! partner banner }}
  <div class='container my-5'>
    <h2 class='text-start fw-bold fs-1 mb-5'>Our Partners</h2>
    <div class='row'>
      <div class='col'>
        <div class='d-flex gap-5 align-items-center'>
          <img
            src='https://images.unsplash.com/photo-1575395311793-ad870d50fbd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80'
            alt=''
            class='partner-img'
          />
          <p>"Best meat I've ever roast."</p>
        </div>
      </div>
      <div class='col'>
        <div class='d-flex gap-5 align-items-center'>
          <img
            src='https://images.unsplash.com/photo-1533757751343-978d1ebc2d6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'
            alt=''
            class='partner-img'
          />
          <p>"I feel like invincible because of cooking it."</p>
        </div>
      </div>
      <div class='col'>
        <div class='d-flex gap-5 align-items-center'>
          <img
            src="https://steaky.s3.ap-southeast-1.amazonaws.com/hell's+kitchen.jpeg"
            alt=''
            class='partner-img'
          />
          <p>"Don't blame me if you haven't tried this."</p>
        </div>
      </div>
    </div>
  </div>
</div>