<div class='container-fluid'>
  <div class='head-banner'>
    <h1 class='title fw-bold'>
      Master the Flavor
    </h1>
    <p class='subtitle fw-light'>
      Start with the meat
    </p>
    <a href='/product'>
      <button class='btn'>Shop Now</button>
    </a>
  </div>
  <h2 class='text-center'>Shop</h2>
</div>