/* Variables */
:root {
  --primary-color: #1f2937;
  --footer-font-color: #fff;
}

/* Css reset */
html,
body {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  color: var(--primary-color);
}

/* Bootstrap override */
.bi {
  font-size: 1.2em;
}

.btn {
  border: none;
}

/* styles */
.form-control {
  background-color: transparent;
  border-radius: 0;
}

.form-control::placeholder {
  color: var(--footer-font-color);
}

/* Footer */
.footer {
  background-color: var(--primary-color);
  color: var(--footer-font-color);
}
