/* Variables */
:root {
  --primary-color: #1f2937;
  --light-font-color: #fff;
  --input-placeholder-color: rgba(255, 255, 255, 0.6);
  --admin-csv-button-color: #059669;
  --blue: #1d4ed8;
}

/* Css reset */
html,
body {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  color: var(--primary-color);
}

/* Bootstrap override */
.bi {
  font-size: 1.2em;
}

.btn,
.btn:focus,
.btn:hover {
  background-color: var(--light-font-color);
  border: none;
  box-shadow: none;
  color: #1f2937;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--light-font-color);
}

.form-control,
.form-control:focus {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid var(--light-font-color);
  color: var(--light-font-color);
}

.form-control::placeholder {
  color: var(--input-placeholder-color);
}

.form-check-input:checked,
.form-check-input:focus {
  box-shadow: none;
  border: 1px solid var(--primary-color);
}
.form-check-input:checked {
  background-color: var(--primary-color);
}

.dropdown-item:active {
  background-color: inherit;
  color: var(--primary-color);
}

/* Title */
.head-banner {
  padding: 8rem 5rem;
  background: url('https://images.unsplash.com/photo-1558030089-02acba3c214e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062&q=80')
    no-repeat fixed center;
  color: var(--light-font-color);
}

.title {
  font-size: 3em;
}

.title-description {
  font-size: 2em;
  color: var(--light-font-color);
}
/* Admin */
.admin__csv__btn,
.admin__csv__btn:hover,
.admin__csv__btn:focus {
  border: 1px solid var(--admin-csv-button-color);
  color: var(--admin-csv-button-color);
}

.new-product-btn,
.new-product-btn:hover,
.new-product-btn:focus {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* Product Grid */
.card {
  border: none;
}

img {
  max-width: 100%;
  aspect-ratio: 1;
}

/* Search input */
.search-box {
  max-width: 400px;
  border: 1px solid var(--blue);
  border-radius: 4px;
}

.search-input,
.search-input:focus {
  width: 100%;
  border: none;
  outline: none;
}

/* Partner */
.partner-img {
  max-width: 100px;
  height: auto;
}

/* Footer */
.footer {
  background-color: var(--primary-color);
  color: var(--light-font-color);
}
